<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence xmlns="https://jakarta.ee/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd"
             version="3.0">
  <persistence-unit name="default">

    <class>dev.seabolt.gradebookjpa.entity.AddressEntity</class>
    <class>dev.seabolt.gradebookjpa.entity.AssignmentEntity</class>
    <class>dev.seabolt.gradebookjpa.entity.AssignmentTypeEntity</class>
    <class>dev.seabolt.gradebookjpa.entity.CourseEntity</class>
    <class>dev.seabolt.gradebookjpa.entity.PersonEntity</class>
    <class>dev.seabolt.gradebookjpa.entity.RegistrationEntity</class>
    <class>dev.seabolt.gradebookjpa.entity.StudentEntity</class>
    <class>dev.seabolt.gradebookjpa.entity.SubmissionEntity</class>
    <class>dev.seabolt.gradebookjpa.entity.TeacherEntity</class>
    <properties>
      <property name="hibernate.connection.url" value="jdbc:sqlserver://localhost;database=Gradebook"/>
      <property name="hibernate.connection.driver_class" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
    </properties>
  </persistence-unit>
</persistence>
